body{
  background-color: hsl(206, 89%, 53%);
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background:url(/2301.q702.034.S.m005.c12.conference\ stage.jpg) no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
}

.to-do-list{
  
  text-align: center;
  width: 600px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #fff;
  border-radius: 10px; 
  margin-bottom: 300px;

}

.to-do-list h1{
  font-size: 36px;
  margin-right: 40px;
}

ol{
  padding: 0;
  display: flex;
  flex-direction:column ;
  align-items: center;
}


button{
  
  font-weight: bold;
  padding: 10px 20px;
  color:white;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    
}

.add-button{
  background-color: hsl(214, 96%, 27%);
 position: absolute;
 right: 63px;
 top: 84px;
}

.add-button:hover{
  background-color: hsl(206, 89%, 53%);
}

.delete-button{
  background-color: hsl(0, 94%, 50%);
}

.delete-button:hover{
  background-color: hsl(0, 93%, 65%);
}

.move-button{
  background-color: hsl(45, 94%, 50%);
}

.move-button:hover{
  background-color: hsl(55, 93%, 65%);
}

input[type="text"]{
     font-size:1.6rem;
     padding: 10px;
     border-radius: 5px;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    margin-right: 55px;
    border-radius: 16px;
    color: #0a0a0a;
    

}

ul{
  font-size:2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(202, 96%, 69%);
  margin-bottom: 10px;
  border: 3px solid hsl(0, 1%, 33%);
  border-radius: 16px;
  display: flex;
  min-width: 350px;
  min-height: 10px;
  align-items: center;
}

.text{
  flex: 1;
}

.delete-button, .move-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}
